:root {
  --primary-font: "Poppins";
  --primary-colour: #cccccc;
  --primary-backcolour: ;
}
#header_topbar {
  background-color: #1e2947;
}
.text {
  font-family: var(--primary-font);
  font-size: 28px;
  color: var(--primary-colour);
}
