:root {
  --primary-colour: #cccccc;
  --primary-backcolour: #c4c4c4;
  --primary-size: 24px;
  --primary-fontfamily: "Poppins", sans-serif;
}

@font-face {
  font-family: "Poppins";
  src: url(https://fonts.googleapis.com/css?family=Poppins/);
}

.text {
  font-family: var(--primary-fontfamily);
  font-size: default;
}
nav .text {
  font-family: var(--primary-fontfamily);
  font-size: var(--primary-size);
  color: var(--primary-colour);
}

.text_bold {
  font-weight: bold;
}

#header_topbar {
  background-color: #1e2947;
}
